src/main/resources/OrderCancellation/EDItX_TradeOrderCancelation_V1.1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="EDItX_CodeLists.xsd"/>
	<xs:element name="OrderCancelation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OrderCancelationNumber" type="xs:string"/>
							<xs:element name="IssueDateTime" type="DateOrDateTime"/>
							<xs:element name="ReferenceCoded" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ReferenceTypeCode" type="OrderStatusEnquiryReferenceTypeCode"/>
										<xs:choice>
											<xs:sequence>
												<xs:element name="ReferenceNumber" type="xs:string"/>
												<xs:element name="ReferenceDate" type="Date" minOccurs="0"/>
											</xs:sequence>
											<xs:element name="ReferenceDate" type="Date"/>
										</xs:choice>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PurposeCode" type="PurposeCode"/>
							<xs:element name="BuyerParty" type="Party"/>
							<xs:element name="SellerParty" type="Party"/>
							<xs:element name="ShipToParty" type="CDFParty" minOccurs="0"/>
							<xs:element name="BillToParty" type="Party" minOccurs="0"/>
							<xs:element name="RequestType" type="OrderStatusEnquiryRequestTypeCode"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ItemDetail" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="LineNumber" type="xs:int"/>
							<xs:element name="ProductID" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ProductIDType" type="ProductIDAgencyCode"/>
										<xs:element name="IDTypeName" type="xs:string" minOccurs="0"/>
										<xs:element name="Identifier" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ItemDescription" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TitleDetail" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="OrderQuantity" type="xs:int"/>
							<xs:element name="QuantityToCancel" type="xs:int" minOccurs="0"/>
							<xs:element name="ReferenceCoded" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ReferenceTypeCode" type="OrderStatusEnquiryItemReferenceTypeCode"/>
										<xs:choice>
											<xs:sequence>
												<xs:element name="ReferenceNumber" type="xs:string"/>
												<xs:element name="ReferenceDate" type="Date" minOccurs="0"/>
											</xs:sequence>
											<xs:element name="ReferenceDate" type="Date"/>
										</xs:choice>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ShipToParty" type="CDFParty" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Summary">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="NumberOfLines" type="xs:int"/>
							<xs:element name="UnitsOrdered" type="xs:int" minOccurs="0"/>
							<xs:element name="UnitsCanceled" type="xs:int" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" use="required" fixed="1.1">
				<?editx nodoc?>
			</xs:attribute>
		</xs:complexType>
		<?editx title=Order Cancelation?>
	</xs:element>
	<xs:complexType name="AdditionalPartyID">
		<xs:sequence>
			<xs:element name="PartyIDType" type="OtherPartyIDAgencyCode"/>
			<xs:element name="Identifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CDFParty">
		<xs:sequence>
			<xs:choice>
				<xs:sequence>
					<xs:element name="PartyID">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="PartyIDType" type="PartyIDAgencyCode"/>
								<xs:element name="Identifier" type="xs:string"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="AdditionalPartyID" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="PartyIDType" type="OtherPartyIDAgencyCode"/>
								<xs:element name="Identifier" type="xs:string"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="PartyName" type="PartyName" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="PartyName" type="PartyName"/>
				</xs:sequence>
			</xs:choice>
			<xs:element name="PostalAddress" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AddressLine" maxOccurs="unbounded"/>
						<xs:element name="PostalTownCity" type="xs:string" minOccurs="0"/>
						<xs:element name="PostalCode" type="xs:string" minOccurs="0"/>
						<xs:element name="CountrySubdivision" type="xs:string" minOccurs="0"/>
						<xs:element name="CountrySubdivisionCode" type="CountrySubEntityCode" minOccurs="0"/>
						<xs:element name="Country" type="xs:string" minOccurs="0"/>
						<xs:element name="CountryCode" type="CountryCode" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CommunicationDetails" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CommunicationTypeCode" type="CommunicationTypeCode"/>
						<xs:element name="CommunicationLocator" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ContactPerson" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContactRoleCode" type="xs:string" minOccurs="0"/>
						<xs:element name="PersonName" type="xs:string"/>
						<xs:element name="CommunicationDetails" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CommunicationTypeCode" type="CommunicationTypeCode"/>
									<xs:element name="CommunicationLocator" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommunicationDetails">
		<xs:sequence>
			<xs:element name="CommunicationTypeCode" type="CommunicationTypeCode"/>
			<xs:element name="CommunicationLocator" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactPerson">
		<xs:sequence>
			<xs:element name="ContactRoleCode" type="xs:string" minOccurs="0"/>
			<xs:element name="PersonName" type="xs:string"/>
			<xs:element name="CommunicationDetails" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CommunicationTypeCode" type="CommunicationTypeCode"/>
						<xs:element name="CommunicationLocator" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party">
		<xs:sequence>
			<xs:element name="PartyID" type="PartyID"/>
			<xs:element name="AdditionalPartyID" type="AdditionalPartyID" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PartyName" type="PartyName" minOccurs="0"/>
			<xs:element name="PostalAddress" type="PostalAddress" minOccurs="0"/>
			<xs:element name="CommunicationDetails" type="CommunicationDetails" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ContactPerson" type="ContactPerson" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CountryCode" type="CountryCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyID">
		<xs:sequence>
			<xs:element name="PartyIDType" type="PartyIDAgencyCode"/>
			<xs:element name="Identifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyName">
		<xs:sequence>
			<xs:element name="NameLine" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PostalAddress">
		<xs:sequence>
			<xs:element name="AddressLine" type="xs:string" maxOccurs="unbounded"/>
			<xs:element name="PostalTownCity" type="xs:string" minOccurs="0"/>
			<xs:element name="PostalCode" type="xs:string" minOccurs="0"/>
			<xs:element name="CountrySubdivision" type="xs:string" minOccurs="0"/>
			<xs:element name="CountrySubdivisionCode" type="CountrySubEntityCode" minOccurs="0"/>
			<xs:element name="Country" type="xs:string" minOccurs="0"/>
			<xs:element name="CountryCode" type="CountryCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Date">
		<xs:restriction base="xs:string">
			<xs:pattern value="2\d\d\d(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-8])"/>
			<xs:pattern value="200[048]0229"/>
			<xs:pattern value="2[1-9]0[48]0229"/>
			<xs:pattern value="2\d([2468][048]|[13579][26])0229"/>
			<xs:pattern value="2\d\d\d(0[13-9]|1[0-2])(29|30)"/>
			<xs:pattern value="2\d\d\d(0[13578]|1[02])31"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateOrDateTime">
		<xs:union memberTypes="Date DateTime"/>
	</xs:simpleType>
	<xs:simpleType name="DateTime">
		<xs:restriction base="xs:string">
			<xs:pattern value="2\d\d\d(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-8])T([01][0-9]|2[0-3])[0-5][0-9](Z|[+\-](0[0-9]|1[0-2])(00|15|30|45))?"/>
			<xs:pattern value="200[048]0229T([01][0-9]|2[0-3])[0-5][0-9](Z|[+\-](0[0-9]|1[0-2])(00|15|30|45))?"/>
			<xs:pattern value="2[1-9]0[48]0229T([01][0-9]|2[0-3])[0-5][0-9](Z|[+\-](0[0-9]|1[0-2])(00|15|30|45))?"/>
			<xs:pattern value="2\d([2468][048]|[13579][26])0229T([01][0-9]|2[0-3])[0-5][0-9](Z|[+\-](0[0-9]|1[0-2])(00|15|30|45))?"/>
			<xs:pattern value="2\d\d\d(0[13-9]|1[0-2])(29|30)T([01][0-9]|2[0-3])[0-5][0-9](Z|[+\-](0[0-9]|1[0-2])(00|15|30|45))?"/>
			<xs:pattern value="2\d\d\d(0[13578]|1[02])31T([01][0-9]|2[0-3])[0-5][0-9](Z|[+\-](0[0-9]|1[0-2])(00|15|30|45))?"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
