src/main/resources/SalesReport/Discount/TandFSalesReport_EDItX_Discount.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="EDItX_CodeLists.xsd" />
	<xs:element name="SalesReport">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Header" />
				<xs:element ref="ItemDetail" maxOccurs="unbounded" />
				<xs:element ref="Summary" />
			</xs:sequence>
			<xs:attribute name="version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1.1" />
						<xs:enumeration value="1.2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="Header">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SalesReportNumber" />
				<xs:element ref="IssueDateTime" />
				<xs:element ref="ReferenceCoded" minOccurs="0"
					maxOccurs="unbounded" />
				<xs:element ref="PurposeCode" />
				<xs:element ref="SalesReportTypeCode" minOccurs="0" />
				<xs:element ref="ReportPriceType" minOccurs="0" />
				<xs:choice minOccurs="0">
					<xs:element ref="DateCoded" maxOccurs="unbounded" />
				</xs:choice>
				<xs:element ref="ClassOfSaleCode" minOccurs="0"
					maxOccurs="unbounded" />
				<xs:choice minOccurs="0">
					<xs:element ref="Territory" />                          <!-- 1.2: added -->
				</xs:choice>
				<xs:choice>
					<!-- Reseller options -->
					<xs:sequence>
						<xs:element ref="SellerParty" />
					</xs:sequence>
					<!-- Agency options -->
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ItemDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LineNumber" />
				<xs:element ref="ProductIdentifier" maxOccurs="unbounded" />
				<xs:element ref="FormatCode" minOccurs="0"
					maxOccurs="unbounded" />
				<xs:choice minOccurs="0">
					<xs:element ref="Quantity" />
					<xs:sequence>
						<xs:element ref="RefundedQuantity" />
						<xs:element ref="NetSoldQuantity" />
					</xs:sequence>
				</xs:choice>
				<xs:element ref="PricingDetail" maxOccurs="unbounded" />
				<xs:element ref="LineSalesAmounts" minOccurs="0" />				
				<xs:element ref="PriceCondition" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="ShipToParty" minOccurs="0" />
				<xs:element ref="BillToLocation" minOccurs="0" />
				<xs:element ref="BillToParty" minOccurs="0" />
				<xs:element ref="ShipToLocation" minOccurs="0" />
				<xs:choice minOccurs="0">
					<xs:element name="DateCoded"> <!-- DateQualifierCode defined locally to limit enumeration -->
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="Date" />
								<xs:element name="DateQualifierCode">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="TransactionDate" />
											<xs:enumeration value="TransactionDateTime" />
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element ref="Date" />
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Summary">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NumberOfLines" />
				<xs:element ref="NumberOfUnits" minOccurs="0" />
				<xs:sequence minOccurs="0">
					<xs:element ref="NumberOfGrossSalesUnits" />
					<xs:element ref="NumberOfRefundedUnits" />
					<xs:element ref="NumberOfNetSalesUnits" />
				</xs:sequence>
				<xs:element ref="NumberOfNonSaleUnits" minOccurs="0" />
				<xs:element ref="TotalSalesAmounts" minOccurs="0" maxOccurs="unbounded" />
				<xs:choice>
					<xs:element ref="TotalDueToPublisher" maxOccurs="unbounded" />
					<xs:element ref="TotalDueToSupplier" maxOccurs="unbounded" />
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SalesReportNumber" type="xs:string" />
	<xs:element name="IssueDateTime" type="SRDateOrDateTime" />
	<xs:simpleType name="SRDateOrDateTime">
		<xs:union memberTypes="SRDate SRDateTime" />
	</xs:simpleType>
	<xs:simpleType name="SRDateTime">
		<xs:restriction base="xs:string">
			<xs:pattern
				value="2\d\d\d(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-8])T([01][0-9]|2[0-3])[0-5][0-9]([0-5][0-9])?(Z|[+\-](0[0-9]|1[0-2])(00|15|30|45))?" />
			<xs:pattern
				value="2\d\d\d(0[13-9]|1[0-2])(29|30)T([01][0-9]|2[0-3])[0-5][0-9]([0-5][0-9])?(Z|[+\-](0[0-9]|1[0-2])(00|15|30|45))?" />
			<xs:pattern
				value="2\d\d\d(0[13578]|1[02])31T([01][0-9]|2[0-3])[0-5][0-9]([0-5][0-9])?(Z|[+\-](0[0-9]|1[0-2])(00|15|30|45))?" />
			<xs:pattern
				value="2[048](0[048]|[13579][26]|[2468][048])0229T([01][0-9]|2[0-3])[0-5][0-9]([0-5][0-9])?(Z|[+\-](0[0-9]|1[0-2])(00|15|30|45))?" />
			<xs:pattern
				value="2[1235679](0[48]|[13579][26]|[2468][048])0229T([01][0-9]|2[0-3])[0-5][0-9]([0-5][0-9])?(Z|[+\-](0[0-9]|1[0-2])(00|15|30|45))?" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SRDate">
		<xs:restriction base="xs:string">
			<xs:pattern
				value="2\d\d\d(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-8])" />
			<xs:pattern value="2\d\d\d(0[13-9]|1[0-2])(29|30)" />
			<xs:pattern value="2\d\d\d(0[13578]|1[02])31" />
			<xs:pattern
				value="2[048](0[048]|[13579][26]|[2468][048])0229" />
			<xs:pattern
				value="2[1235679](0[48]|[13579][26]|[2468][048])0229" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ReferenceCoded">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ReferenceTypeCode" />
				<xs:element ref="ReferenceTypeName" minOccurs="0" />
				<xs:choice>
					<xs:sequence>
						<xs:element ref="ReferenceNumber" />
						<xs:choice minOccurs="0">
							<xs:element ref="ReferenceDate" />
							<xs:element ref="ReferenceDateTime" />
						</xs:choice>
					</xs:sequence>
					<xs:element ref="ReferenceDate" />
					<xs:element ref="ReferenceDateTime" />
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="SRItemReferenceTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Proprietary" />
			<xs:enumeration value="ReportItemReferenceNumber" />
			<xs:enumeration value="InvoiceReference" />
			<xs:enumeration value="InvoiceLineReference" />
			<xs:enumeration value="CreditNoteReference" />
			<xs:enumeration value="CreditNoteLineReference" />
			<xs:enumeration value="DespatchNoteReference" />
			<xs:enumeration value="DespatchNoteLineReference" />
			<xs:enumeration value="ReportingPartyReference" />
			<xs:enumeration value="SellingAgentPartyReference" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ReferenceDate" type="SRDateOrDateTime" />
	<xs:element name="ReferenceDateTime" type="SRDateTime" />
	<xs:element name="ReferenceNumber" type="xs:string" />
	<xs:element name="ReferenceTypeCode"
		type="SRItemReferenceTypeCode" />
	<xs:element name="ReferenceTypeName" type="xs:string" />
	<xs:element name="PurposeCode" type="SRPurposeCode" />
	<xs:simpleType name="SRPurposeCode">     <!-- 1.2: added -->
		<xs:union memberTypes="PurposeCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Replacement" />
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:element name="SalesReportTypeCode"
		type="SRSalesReportTypeCode" />
	<xs:simpleType name="SRSalesReportTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ByProduct" />
			<xs:enumeration value="ByTransaction" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ReportPriceType"
		type="SRPriceQualifierCode" />
	<xs:simpleType name="SRPriceQualifierCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SRPExcludingTax" />         <!-- = 01 -->
			<xs:enumeration value="SRPIncludingTax" />         <!-- = 02 -->
			<xs:enumeration value="FixedRPExcludingTax" />     <!-- = 03 -->
			<xs:enumeration value="FixedRPIncludingTax" />     <!-- = 04 -->
			<xs:enumeration value="UnitCostIncludingTax" />    <!-- = 05 -->
			<xs:enumeration value="UnitCostExcludingTax" />    <!-- = 07 -->
			<xs:enumeration value="PublisherRPExcludingTax" /> <!-- = 41 -->
			<xs:enumeration value="PublisherRPIncludingTax" /> <!-- = 42 -->
			<xs:enumeration value="SoldAtPriceExcludingTax" /> <!-- = 43 -->
			<xs:enumeration value="SoldAtPriceIncludingTax" /> <!-- = 44 -->
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="DateCoded">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Date" />
				<xs:element ref="DateQualifierCode" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Date" type="SRDateOrDateTime" />
	<xs:element name="DateQualifierCode"
		type="SRDateQualifierCode" />
	<xs:simpleType name="SRDateQualifierCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SalesPeriodStart" />
			<xs:enumeration value="SalesPeriodEnd" />
			<xs:enumeration value="SalesDate" />
			<!-- xs:enumeration value="TransactionDate" / -->
			<!-- xs:enumeration value="TransactionDateTime" / -->
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Territory">                                         <!-- 1.2: added -->
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="CountriesIncluded" />
					<xs:element minOccurs="0" ref="RegionsIncluded" />
					<xs:element minOccurs="0" ref="RegionsExcluded" />
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="RegionsIncluded" />
					<xs:element minOccurs="0" ref="CountriesExcluded" />
					<xs:element minOccurs="0" ref="RegionsExcluded" />
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="CountriesIncluded"
		type="SRCountryCodeList" />      <!-- 1.2: added -->
	<xs:element name="CountriesExcluded"
		type="SRCountryCodeList" />      <!-- 1.2: added -->
	<xs:element name="RegionsIncluded" type="SRRegionCodeList" />         <!-- 1.2: added -->
	<xs:element name="RegionsExcluded" type="SRRegionCodeList" />
	<xs:element name="SellerParty" type="SRParty" />
	<xs:complexType name="SRParty">
		<xs:sequence>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="PartyIdentifier" />
					<xs:element ref="AdditionalPartyIdentifier"
						minOccurs="0" maxOccurs="unbounded" />
					<xs:element ref="PartyName" minOccurs="0" />
				</xs:sequence>
			<!--commented since above sequence also represents same   -->
				<!-- <xs:sequence>
					<xs:element ref="AdditionalPartyIdentifier"
						minOccurs="0" maxOccurs="unbounded" />
					<xs:element ref="PartyName" />
				</xs:sequence> -->
			</xs:choice>

		</xs:sequence>
	</xs:complexType>

	<xs:element name="ClassOfSaleCode" type="SRClassOfSaleCode" />
	<xs:simpleType name="SRClassOfSaleCode">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="00" />
					<xs:enumeration value="01" />
					<xs:enumeration value="02" />
					<xs:enumeration value="03" />
					<xs:enumeration value="04" />
					<xs:enumeration value="05" />
					<xs:enumeration value="06" />
					<xs:enumeration value="07" />
					<xs:enumeration value="08" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[2-9][0-9]" />
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:element name="PublisherName" type="xs:string" />
	<xs:element name="PublisherParty" type="SRParty" />
	<xs:element name="PartyIdentifier" type="SRPartyID" />
	<xs:element name="AdditionalPartyIdentifier"
		type="SRPartyID" />
	<xs:element name="PartyName" type="SRPartyName" />
	<xs:complexType name="SRPartyID">
		<xs:sequence>
			<xs:element ref="PartyIDType" />
			<xs:element ref="IDTypeName" minOccurs="0" />
			<xs:element ref="IDValue" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ProductIdentifier">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ProductIDType" />
				<xs:element ref="IDTypeName" minOccurs="0" />
				<xs:element ref="IDValue" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="SRPartyName">
		<xs:sequence>
			<xs:element ref="NameLine" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ProductID"
		substitutionGroup="ProductIdentifier" />
	<xs:element name="PartyIDType" type="SRPartyIDType" />
	<xs:element name="IDTypeName" type="xs:string" />
	<xs:element name="IDValue" type="xs:string" />
	<xs:element name="NameLine" type="xs:string" />
	<xs:simpleType name="SRPartyIDType">     <!-- 1.2: added -->
		<xs:union memberTypes="SRPartyIDAgencyCode List44" />
	</xs:simpleType>
	<xs:simpleType name="SRPartyIDAgencyCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Proprietary" /> <!-- same as 01 -->
			<xs:enumeration value="VKNR" />        <!-- same as 04 -->
			<xs:enumeration value="GLN" />         <!-- same as 06 -->
			<xs:enumeration value="SAN" />         <!-- same as 07 -->
			<xs:enumeration value="NBSN" />
			<xs:enumeration value="BAGNR" />
			<xs:enumeration value="NNSR" />        <!-- Norwegian National School Registry -->
			<xs:enumeration value="NON" />         <!-- Norwegian Organisation Number -->
			<xs:enumeration value="VATRegistrationNumber" /> <!-- same as 23 -->
			<xs:enumeration value="TaxRegistrationNumber" />
			<xs:enumeration value="SellersAccountNumber" />
			<xs:enumeration value="PublishersAccountNumber" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ProductIDType" type="SRProductIDType" />
	<xs:simpleType name="SRProductIDType">   <!-- 1.2: added -->
		<xs:union memberTypes="ProductIDAgencyCode List5" />
	</xs:simpleType>
	<xs:simpleType name="SRCountryCodeList"> <!-- 1.2: added -->
		<xs:list itemType="List91" />
	</xs:simpleType>
	<xs:simpleType name="SRRegionCodeList">  <!-- 1.2: added -->
		<xs:list itemType="List49" />
	</xs:simpleType>
	<xs:simpleType name="SRRegionCode">
		<xs:restriction base="List49" />
	</xs:simpleType>
	<xs:element name="LineNumber" type="xs:positiveInteger" />
	<xs:element name="FormatCode">
		<xs:simpleType>
			<xs:union
				memberTypes="SRFormatCode List150 List175 xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="SRFormatCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PrintOnDemand" />
			<xs:enumeration value="HTML" />
			<xs:enumeration value="TXT" />
			<xs:enumeration value="PDF" />
			<xs:enumeration value="PDFMerchant" />
			<xs:enumeration value="AdobeEbookReader" />
			<xs:enumeration value="MicrosoftReaderLevel1-3" />
			<xs:enumeration value="MicrosoftReaderLevel5" />
			<xs:enumeration value="NetLibrary" />
			<xs:enumeration value="MetaText" />
			<xs:enumeration value="MightyWords" />
			<xs:enumeration value="PalmReader" />
			<xs:enumeration value="Softbook" />
			<xs:enumeration value="RocketBook" />
			<xs:enumeration value="GemstarREB1100" />
			<xs:enumeration value="GemstarREB1200" />
			<xs:enumeration value="FranklinEBookman" />
			<xs:enumeration value="Books24x7" />
			<xs:enumeration value="DigitalOwl" />
			<xs:enumeration value="Handheldmed" />
			<xs:enumeration value="WizeUp" />
			<xs:enumeration value="TK3" />
			<xs:enumeration value="Litraweb" />
			<xs:enumeration value="MobiPocket" />
			<xs:enumeration value="OpenEbook" />
			<xs:enumeration value="GoReader" />
			<xs:enumeration value="Ebrary" />
			<xs:enumeration value="TownCompass" />
			<xs:enumeration value="Exebook" />
			<xs:enumeration value="SonyBBeB" />
			<xs:enumeration value="VitaSourceBookshelf" />
			<xs:enumeration value="AdobeDigitalEditions" />
			<xs:enumeration value="MyLibrary" />
			<xs:enumeration value="Kindle" />
			<xs:enumeration value="MultiFormats" />
			<xs:enumeration value="Other" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Quantity" type="xs:int" />
	<xs:element name="NetSoldQuantity" type="xs:int" />
	<xs:element name="RefundedQuantity" type="xs:int" />
	<xs:element name="PricingDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CurrencyConversionRate" minOccurs="0" />			
				<xs:element ref="UnitAmountDueToPublisher" />
				<xs:element ref="UnitAmountDueToSupplier" minOccurs="0" />  
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LineSalesAmounts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="GrossSalesAmountBeforeDiscounts" minOccurs="0" />
				<xs:element ref="DiscountsAmount" minOccurs="0" />		
				<xs:element ref="GrossSalesAmount" minOccurs="0" />
				<xs:element ref="RefundedAmount" minOccurs="0" />
				<xs:element ref="NetSalesAmount" minOccurs="0" />
				<xs:element ref="CurrencyCode" minOccurs="0" />			
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UnitAmountDueToPublisher" type="SRTotalAmountDue" />
	<xs:element name="UnitAmountDueToSupplier" type="SRTotalAmountDue" />   <!-- As discussed , 
	to include salesAmount too ,added this corresponding field -->
	<xs:complexType name="SRTotalAmountDue">
		<xs:sequence>
			<xs:element ref="MonetaryAmount" />
			<xs:element ref="CurrencyCode" minOccurs="0" />
			<xs:choice minOccurs="0">
				<xs:element ref="CountryCode" />
				<xs:element ref="RegionCode" />
				<xs:element ref="Territory" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MonetaryAmount" type="xs:decimal" />
	<xs:element name="CurrencyCode" type="CurrencyCode" />
	<xs:element name="CountryCode" type="CountryCode" />
	<xs:element name="RegionCode" type="SRRegionCode" />  
	<xs:element name="CurrencyConversionRate" type="xs:decimal" />
	<xs:element name="PriceCondition">                                    <!-- 1.2: added -->
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PriceConditionType" />
				<xs:element ref="PriceConditionQuantity" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PriceConditionType" type="List167" />               <!-- 1.2: added -->
	<xs:element name="PriceConditionQuantity">                            <!-- 1.2: added -->
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PriceConditionQuantityType" />
				<xs:element ref="Quantity" />
				<xs:element ref="QuantityUnit" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PriceConditionQuantityType" type="List168" />       <!-- 1.2: added -->
	<xs:element name="QuantityUnit" type="List169" />                     <!-- 1.2: added -->
	<xs:element name="NumberOfLines" type="xs:int" />
	<xs:element name="NumberOfUnits" type="xs:int" />
	<xs:element name="NumberOfGrossSalesUnits" type="xs:int" />
	<xs:element name="NumberOfRefundedUnits" type="xs:int" />
	<xs:element name="NumberOfNetSalesUnits" type="xs:int" />
	<xs:element name="NumberOfNonSaleUnits" type="xs:int" />
	<xs:element name="TotalGrossSalesAmount" type="xs:decimal" />
	<xs:element name="TotalNetSalesAmount" type="xs:decimal" />
	<xs:element name="TotalRefundedSalesAmount" type="xs:decimal" />
	<xs:element name="TotalDiscountsAmount" type="xs:decimal" />
	<xs:element name="TotalSellerChargeAmount" type="xs:decimal" />
	<xs:element name="TotalDueToPublisher" type="SRTotalAmountDue" />
	<xs:element name="TotalDueToSupplier" type="SRTotalAmountDue" />
	
	<xs:element name="TotalSalesAmounts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TotalGrossSalesAmount" minOccurs="0" />
				<xs:element ref="TotalRefundedSalesAmount" minOccurs="0" />
				<xs:element ref="TotalDiscountsAmount" minOccurs="0" />
				<xs:element ref="TotalNetSalesAmount" minOccurs="0" />
				<xs:element ref="TotalSellerChargeAmount" minOccurs="0" />
				<xs:element ref="CurrencyCode" minOccurs="0" />
				<xs:choice minOccurs="0">
					<xs:element ref="CountryCode" />
					<xs:element ref="RegionCode" />
					<xs:element ref="Territory" />
				</xs:choice>
				<!-- <xs:choice minOccurs="0">
					<xs:element ref="Tax" maxOccurs="unbounded" />
					<xs:element ref="TaxExempt" />
				</xs:choice> -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- Adding the ShipToParty Element -->
	<xs:element name="ShipToParty" type="SRParty" />
	<xs:element name="BillToParty" type="SRParty" />
	<xs:element name="BillToLocation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LocationIdentifier" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LocationIdentifier">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LocationIDType" />
				<xs:element ref="IDTypeName" minOccurs="0" />
				<xs:element ref="IDValue" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LocationIDType" type="SRShipToLocationIDAgencyCode" />
	<xs:simpleType name="SRShipToLocationIDAgencyCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Proprietary" />
			<xs:enumeration value="GLN" />
			<xs:enumeration value="SAN" />
			<xs:enumeration value="CountryCode" />    <!-- = ONIX List 91 -->
			<xs:enumeration value="ONIXRegionCode" /> <!-- = ONIX List 49 -->
			<xs:enumeration value="PostalCode" />     <!-- should start with country code -->
			<xs:enumeration value="RegionCode" />     <!-- = USPS region code !!! -->
			<xs:enumeration value="CountyName" />
			<xs:enumeration value="CityName" />
			<xs:enumeration value="DistrictName" />
			<xs:enumeration value="GeoCode" />        <!-- Vertex US Tax GeoCode -->
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ShipToLocation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LocationIdentifier" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--  added discounts, grossamounts -->

<xs:element name="GrossSalesAmountBeforeDiscounts" type="xs:decimal" />
<xs:element name="DiscountsAmount" type="xs:decimal" />

<xs:element name="GrossSalesAmount" type="xs:decimal" />
<xs:element name="RefundedAmount" type="xs:decimal" />
<xs:element name="NetSalesAmount" type="xs:decimal" />
</xs:schema>



